body {
    font-family: "Noto Serif", serif;
    background: white;
}


h1 {
    text-align: center;
    border: 1px transparent;
    margin: 5px 5px 5px 5px;
    font-weight: 600;
    text-decoration: underline;
   
}

h1:hover {
    color: #22587b;
}
h4{
    text-align: center;
}
.card-body {
    flex: 1 1 auto;
    padding: 5rem 5rem;
}
.current-weather-emoji {
     font-family: 'Courier New',
     Courier,
     monospace;
    font-size: 80px;
     margin-left:50px;

}
.current-city {
    display: block;
    font-size: 20px;
    color: #986f8e;
}
#current-time{
    text-align: center;
}
#celsius-link{
    border-radius: 10px;
        margin-top: 10 px;
}
#fahrenheit-link {
  border-radius:10px;
  margin-top: 10 px;}

#current-temperature {
    display: block;
    font-size: 30px;
    padding-bottom: 5px;
    color: #0A009C;
    position: relative;
    line-height: -5px;


}

#nice {
    background-color: #e0c3fc;
    background-image: linear-gradient(150deg,
            #e0c3fc 0%,
            #8ec5fc 33%,
            #8195d4 66%,
            #ffffff 100%);
}

.row {
    font-weight: 400;
    margin: 10px;
}

.card-text {
    text-align: center;
}

.search-button {
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
    transition: all 200ms ease-in-out;
}

#nice {
    padding: 15px 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
    transition: all 200ms ease-in-out;
}

#forecast {
    padding: 15px 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    border: none;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
    transition: all 200ms ease-in-out;
}

#location {
    padding: 10px 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
    transition: all 200ms ease-in-out;
}

#box {
    background-color: #d6e9f6;
     border-radius: 30px;
}

.search-button {
    padding-top: 10px;
    margin-top: 10px;
}




.cute-emoji {
    font-size: 60px;
    font-family: 'Courier New',
    Courier,
    monospace;
}
.current-precipitations{
    font-size:16px;
  
}
#info{
    font-size: 20px;
}
#description{ text-transform: capitalize;
}
.min-temperature{
    opacity: 0.7;
}
