body {
    font-family: "Noto Serif", serif;
    background: white;
}

.current-city {
    display: block;
    font-size: 20px;
    color: #986f8e;
}

#current-temperature {
    display: block;
    font-size: 20px;
    padding-bottom:5px;
}

#nice {
    background-color: #e0c3fc;
    background-image: linear-gradient(150deg,
            #e0c3fc 0%,
            #8ec5fc 33%,
            #8195d4 66%,
            #ffffff 100%);
}

.row {
    font-weight: 400;
    margin: 10px;
}

.card-nextdays-forecast {
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    border-radius: 2px;
}

.card-title {
    color: #b97c95;
    text-align: center;
}

.card-text {
    text-align: center;
}

h1 {
    border: 1px transparent;
    margin: 5px 5px 5px 5px;
    font-weight: 600;
    text-decoration: underline;
}

h1:hover {
    color: #22587b;
}

.current-weather-emoji {
    font-size: 60px;
}

.search-button {
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
    transition: all 200ms ease-in-out;
}

#nice {
    padding: 15px 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
    transition: all 200ms ease-in-out;
}

#forecast {
    padding: 15px 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    border: none;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
    transition: all 200ms ease-in-out;
}

#location {
    padding: 10px 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
    transition: all 200ms ease-in-out;
}

#box {
    background-color: #d6e9f6;
}

.search-button {
    padding-top: 10px;
    margin-top: 10px;
}

#fahrenheit-link {
    margin-top: 5px;
}

#celsius-link {
    margin-top: 5px;
}

.cute-emoji {
    font-size: 60px;
}
